{% extends "base.html" %}

{% block title %}Мои билеты{% endblock %}

{% block content %}

<section class="container">
    <h2>Мои билеты</h2>

    <div class="cards">

        <div class="card">
            <h3>🔥 Хаус вечеринка</h3>
            <p>📍 Москва</p>
            <p>📅 15 апреля</p>
            <button>Показать билет</button>
        </div>

        <div class="card">
            <h3>🎸 Квартирник</h3>
            <p>📍 СПБ</p>
            <p>📅 20 апреля</p>
            <button>Показать билет</button>
        </div>

    </div>
</section>

{% endblock %}